# Name: TIPL Console

# Author: Kevin Mader, 4Quant

Plugins>TIPL, "Python Console", tipl.ij.scripting.TIPLConsole
Plugins>TIPL, "Scala Console", tipl.ij.scripting.Scala_Interpreter
Plugins>TIPL, "Spark Console", tipl.ij.scripting.Spark_Interpreter
Plugins>TIPL, "Plugin Runner", tipl.util.TIPLPluginManager.IJlink